/* src/styles/fonts.css */

@font-face {
  font-family: "DMSans";
  font-weight: 400;
  src: url("./assets/fonts/jost/Jost-Regular.ttf") format("truetype"); /* Adjust the file path and format accordingly */
  /* Add additional src declarations for other file formats if applicable */
  /* Add font-weight and font-style declarations if needed */
}
